@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    150 Sunrise Pl<br />
    Kitchener, ON<br />
    <abbr title="Phone">P:</abbr>
    647-995-9091
</address>

<address>
    <strong>Support:</strong><a href="mailto:" mtooranisama5070@conestogac.on.ca">Majid Tooranisama</a><br />
    <strong>Marketing:</strong><a href="mailto:" mtooranisama5070@conestogac.on.ca">Majid Tooranisama</a></a>
</address>
